<footer>
   <div class="footer_titile_gp">
      <div class="footer_title_guild_size_and_user_size">
         <p>Running on <b><%= bot.guilds.size.toLocaleString(); %></b> Servers with <b><%= bot.users.size.toLocaleString(); %></b> users.</p>
         <a class="<% if(!bot.appInfo.botPublic) { %> disabled<% } %>" href="https://discordapp.com/oauth2/authorize?client_id=<%= bot.appInfo.id %>&scope=bot&response_type=code&redirect_uri=<%= encodeURIComponent(bot.config.dashboard.callbackURL) %>" target="_blank" class="invite_btn_footer">Invite bot to server</a>
         <p>Copyright &copy; 2019 - <script>document.write(new Date().getFullYear());</script>, <%= bot.user.username %> developer by: <a href="/deverloper"><%= bot.appInfo.owner.tag %></a></p>
      </div>
   </div>
</footer>